@import "../../../consts/variables.scss";

.movie-detail-container {
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $primary;
    box-shadow: 5px 5px 5px rgba($black, 0.3);
    border-radius: 10px;
    color: $white;

    .movie-detail-header {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        color: $white;

        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }

        p {
            width: 100%;
            font-size: 4em;
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
            font-weight: 700;
        }
    }

    .movie-detail-body {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        font-size: 1.5em;

        .movie-detail-body-left {
            width: 70%;
            text-align: justify;
            .sinopsis {
                font-size: 2em;
                color: $accent;
                font-weight: 700;
            }
        }

        .movie-detail-body-right {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 30%;

            p {
                text-align: center;
                color: $white;
                span {
                    color: $accent;
                    font-weight: 800;
                }
            }

            .is-on-cinemas {
                font-size: 1.5em;
                text-decoration: underline;
            }
        }
    }

    .movie-detail-actions {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .action-button {
            width: 20%;
            height: 30px;
            font-size: 1.5em;
            margin: 0 5vw;
            border: 0;
            color: $white;
            border-radius: 5px;
            box-shadow: 5px 5px 5px rgba($black, 0.3);
        }

        .edit-movie {
            background-color: $primary-variable;
        }

        .delete-movie {
            background-color: $accent;
        }
    }
}