@import "../../../consts/variables.scss";

.header-container {
    width:100%;
    height: 7vh;
    max-height: 7vh;
    background-color: $primary;
    color: $white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        li {
            transition: all 0.3s;
            a {
                text-decoration: none;
                color: $white;
            }
            &:hover {
                font-size: 1.2em;
                text-decoration: underline;
                font-weight: 600;
            }
        }
    }
    .search-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        input {
            width: 40%;
            border: 0;
            height: 25px;
            border-radius: 10px;
            font-size: 1em;
            text-align: center;
            &::placeholder {
                text-align: center;
            }
            margin-right: 20px;
            transition: all 0.5s ease-in-out;
            &:hover, &:active, &:focus {
                border: $accent solid 2px;
                // text-align: center;
                outline: none;
            }
        }
        button {
            width: 15%;
            height: 25px;
            border: 0;
            border-radius: 20px;
            font-size: 1em;
            font-weight: 700;
            text-transform: uppercase;
            background-color: $accent;
            color: $primary;
            transition: all 0.3s;
            &:hover, &:active, &:focus {
                outline: none;
                transform: scale(1.2);
            }
        }
    }
}