@import "../../../consts/variables.scss";

.movies-form-container {
    width: 70%;
    height: 80%;
    background-color: $primary;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba($black, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: $white;

    p {
        font-size: 2em;
    }

    .input-data-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;

        .input-data-container-left,
        .input-data-container-right {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        input {
            margin: 3vh 0;
            width: 70%;
            height: 30px;
            border-radius: 5px;
            text-align: center;
            font-size: 1em;
        }

        textarea {
            margin: 3vh 0;
            width: 70%;
            height: 100px;
            border-radius: 5px;
            text-align: center;
            font-size: 1em;
        }

        input:active,
        input:focus,
        textarea:active
        textarea:focus {
            border: 3px solid $accent;
        }

        select {
            margin: 3vh 0;
            width: 70%;
            height: 35px;
            text-align: center;
            font-size: 1em;
            text-align-last: center;
        }

        .schedules-select {
            height: 150px;
        }
    }

    button {
        width: 30%;
        height: 5vh;
        background-color: $accent;
        border: 0;
        border-radius: 10px;
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: 700;
        box-shadow: 10px 10px 5px rgba($black, 0.3);
        margin-bottom: 3vh;
    }

    .schedules-selected-container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .schedule-item {
            background-color: $accent;
            margin: 0 10px;
            padding: 10px;
            border-radius: 50px;
            transition: all 0.5s;
            &:hover {
                background-color: $black;
                .schedule-front {
                    display: none;
                }
                .schedule-back {
                    display: block;
                }
            }
        }
        p {
            font-size: 1em;
            margin: 0;
        }
        .schedule-front {
            transition: all 0.5s;
            display: block;
        }
        .schedule-back {
            transition: all 0.5s;
            display: none;
        }

    }
}